.container {
  background-color: #1A1147;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .grid {
    font-size: 16px;
    mask: url(#mask);
    mask-image: url(#mask);
    -webkit-mask-image: url(#mask);
  }
}

.mask-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hexagon-default {
  fill: #241250;
  stroke: #7A45D1;;
  stroke-width: 1.6;
  transition: stroke .2s;
  &:hover {
    stroke: rgba(245, 245, 245, 0.8);
  }
}
.hexagon-choose {
  fill: #241250;
  stroke: rgba(245, 245, 245, 0.8);
  stroke-width: 1.6;
  stroke-opacity: 0;
  transition: fill, stroke-opacity .2s;
  &:hover {
    fill: #2a1156;
    stroke-opacity: 1;
  }
}
.hexagon-add {
  font-size: 2em !important;
}
.hexagon-exist {
  fill: #35145c;
  stroke: #392187;
  stroke-width: 1.6;
  transition: fill, stroke-opacity .2s;
  &:hover {
    fill: #46156a;
    stroke: rgba(245, 245, 245, 0.8);
  }
}
.hexagon-active {
  fill: #55357c;
  stroke: #34248a;
  stroke-width: 1.6;
  transition: fill, stroke-opacity .2s;
  &:hover {
    fill: #7d4da1;
    stroke: rgba(245, 245, 245, 0.8);
  }
}
.hexagon-v {
  fill: #8368a7;
  stroke: #4532a2;
  stroke-width: 1.6;
  transition: fill, stroke-opacity .2s;
  &:hover {
    fill: #caa2e7;
    stroke: rgba(245, 245, 245, 0.8);;
  }
}

.hexagon-disabled {
  fill: #241250;
  stroke: #492c77;;
  stroke-width: 1.6;
  transition: stroke .2s;
  cursor:not-allowed;
}